@import url("/usr/share/gnome-shell/theme/gnome-shell.css");

#panel {
    color: #ffffff;
    background: rgba(25, 25, 55, );
    font-family: ubuntu, cantarell;
    font-size: 0.9em;
    font-weight: normal;
    height: 1.55em;
}

.panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 4px;
    font-family: MintSpirit, ubuntu, cantarrell;
    /*font-weight: bold;*/
    color: #ccc;
    transition-duration: 100;
}
.panel-button:hover {
    color: white;
    font-weight: bold;

}
